.App {
  display: flex;
  background-color: #f7f7f7;
  justify-content: center;
}

.Product {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.ProductCard {
  margin-right: 25px;
}
